body{
  background-image:url("back.jpg");
  padding: auto;

}

.button {
    background-color: #6c757d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button_g {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: 2px solid black;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    text-decoration: none;
    
    color: #757575;
    font-size: 20px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
  }
  #editForm{
    display: none;
    margin-bottom: 50px;
}
.container{
  margin: auto;
  width: 70%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
#log{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border: 3px solid green;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin: 10px;
}
td{
  text-decoration: none;
}
.uvod{
  font-size: 20px;
  width: 60%;
  margin: 50px 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgba(253, 255, 249, 0.6);
  border-radius: 30px;
}
.detaily{
  width: 80%;
}
.detail_osoby{
  width: 80%;
}
.content {
  display: flex;
  flex-direction: row;
}
.pridaj{
  width: 70%;
  margin: 0 auto;
}
label {
  display: block;
  margin-top: 1em;
}

label:focus-within {
  font-weight: bold;
}
.pageElement{
  width: 50%;
  margin: 50px 20px;
  padding: 50px 0;
}
.pageElement2{
  width: 50%;
  margin: 50px 60px;
  padding: 50px 0;
}
.pageElement1{
  display: block;
  width: 20%;
  margin: 50px 30px;
  padding: 50px 10px;
}
.tableS{
  width: 80%;
}
.contentEdit{
  display: flex;
  flex-direction: row;
}
.tabulka{
  width: 70%;
  margin: 0 auto;
}
.table-responsive{
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}
.odhlas{
  font-size: 20px;
  width: 60%;
  margin: 50px 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: rgba(253, 255, 249, 0.6);
  border-radius: 30px;
}

a {
  text-decoration: none;
}
.red{
  color: red;
}

@media screen and (max-width: 950px) {

.container-md{
  width: 50%;
}
  .table{
      width: 50%;
  }

  #log{
    width: 30%;
}
  .pageElement{
      width: 80%;
      margin: 10px auto;
  }

}

@media screen and (max-width: 760px) {
  .table{
      width: 50%;
  }

  #log{
    width: 30%;
}
  .pageElement{
      width: 80%;
      margin: 10px auto;
  }

}

@media screen and (max-width: 450px) {

  .log{
      flex-direction: column;
  }

  .pageElement{
      width: 100%;
      margin: 10px auto;
  }
  
}

